<app-app-header-login></app-app-header-login>
<h1 style="padding-top: 90px;text-align: center;">¡OBTEN LAS MEJORES PELICULAS!</h1>
<div class="container">
  <div class="row g-3" style="margin: 0 auto;
  display: flex;
  justify-content: center;">
    <div class="col-sm-3 g-3"  style="width: 18rem;" *ngFor="let listMovies of listMovies | async">
      <div class="card mb-3" width="100%">
        <img src="{{ listMovies.imagen }}" class="card-img-top" width="auto"  height="200">
        <div class="card-body">
          <h5 class="card-title">{{ listMovies.nombre }}</h5>
          <p class="card-text" id="details">{{ listMovies.detalle }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Clasificación: {{ listMovies.clasificacion }}</li>
          <li class="list-group-item">Precio: $ {{ listMovies.costo }}</li>
          <li class="list-group-item">Cantidad: 1</li>
        </ul>
        <div class="card-body" style="margin:0 auto;">
          <button
          mat-raised-button
          color="primary"
          style="min-width: 100px; max-width: 100px;margin: 0 5px;"
          (click)="addMovie(listMovies.id)"
        >
          <mat-icon>playlist_add</mat-icon> ADD
        </button>
        <button
          mat-stroked-button
          color="primary"
          style="min-width: 100px; max-width: 100px;margin: 0 5px;"
          (click)="loadInformation(listMovies.id)"
        >
          <mat-icon>info</mat-icon> INFO
        </button>
        </div>
      </div>
    </div>
  </div>
</div>
<button mat-mini-fab color="primary" class="r-btn-flotante">
  <mat-icon (click)="onShopingCar()" matBadge="{{countAddMovie}}" matBadgeColor="warn" >add_shopping_cart</mat-icon>
</button>
   
