<app-app-header-login></app-app-header-login>

<div class="main-div">
  <form class="example-form">
    <mat-card class="example-card">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="r-text-center">¡Bienvenido!</mat-card-title>
      <mat-card-content>
        <p>Nombres: {{ nombres }}</p>
        <p>Apellidos: {{apellidos}}</p>
        <p>Correo: {{correo}}</p>
        <p>Genero: {{genero}}</p>
        <p>Tipo de Accesos: {{rol}}</p>
      </mat-card-content>
    </mat-card>
  </form>
</div>
